*{
    font-size: 50px;
    background-color: lightpink;
    text-align: center;
    
}
.hh{
display: flex;
    flex-direction: row;
}
#text{
    color: blue;
    font-size: 70px;
}
button {
    /* Set a fixed width and height */
    width: 100px;
    height: 100px; 
    
    /* Control spacing around the buttons */
    margin: 5px; 
    
    /* Ensure the text is centered within the button */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Optional: Style adjustments */
    border: 2px solid darkred;
    border-radius: 8px;
    cursor: pointer;
}
#lan{
    width: 300px;
height: 150px;
}